cv==1.0.0
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.74
Pillow==9.5.0
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchvision==0.16.0+cu118
transformers==4.35.0
fastapi==0.104.1
uvicorn==0.24.0.post1